

body{
  background-color: rgba(248, 153, 33, 0.05);
  color: var(--color-grey);
}
.button-wrapper {
  display: inline-block;
  padding: 13px 36px;
  border-radius: 36px;
  position: relative;
  background: var(--color-white);
  animation: rotating 3s linear infinite;
  height: 52px;
  width: 170px;
  display: block;
}
.button-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-black);
  inset: 2px;
  border-radius: 36px;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.button-wrapper a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.4s;
}
.button-wrapper:hover a {
  color: var(--color-primary);
}
.button-wrapper:hover::after {
  opacity: 0.5;
}
@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
.spacing-2xl {
  height: 140px;
}

.heading{
  max-width: 47%;
  margin: 0 auto;

  .desc{
    margin-top: 40px;
  }
}

.spacing-80{
  height: 80px;

  @media (max-width: 991px){
    height: 64px;
  }
}

.spacing-120{
  height: 120px;

  @media (max-width: 991px){
    height: 64px;
  }
}

.spacing-240{
  height: 240px;

  @media (max-width: 991px){
    height: 64px;
  }
}

// dropdown
.dropdown-custom {
  position: relative;
  cursor: default;

  &.has-hover {
    &:hover {
      .ic {
        path {
          fill: var(--color-black);
        }
      }
      .dropdown-custom__text {
        color: var(--color-black);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    color: var(--color-grey);
    cursor: pointer;

    path {
      transition: all 0.3s ease;
    }
  }

  .dropdown-custom__text {
    transition: all 0.3s ease;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
  }

  &__menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 11;
    left: -15px;
    width: 100%;
    min-width: 115px;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
    // box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);

    .dropdown-custom__item {
      width: 100%;
      padding: 5px 10px;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 8px;
      color: var(--color-white);
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;

      &:hover {
        color: var(--color-secondary) !important;
        background-color: var(--color-gary-opa);
      }
    }
  }
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

// btn toggle
button.btn-toggle{
  cursor: pointer;
  padding: 0;
  border: none;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  box-shadow: unset !important;

  .line{
    width: 22px;
    height: 2px;
    background-color: var(--color-white);
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.is-active{
    .line{
      &:nth-child(2){
        opacity: 0;
      }

      &:nth-child(1){
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        -o-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(3){
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        -o-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}

.container{
  @media (min-width: 1400px){
    max-width: 1200px;
    padding: 0;
  }
  @media (max-width: 767px){
    max-width: 100%;
    padding: 0 24px;
  }
}