.section-vission{
    background-image: url("../images/banner.png");
    
    .list-item{
        gap: 40px;
        padding: 120px 0;
        transform: translateY(50%);

        @media (max-width: 991px){
            transform: none;
            padding: 64px 24px;
        }

        @media (max-width: 767px){
            flex-direction: column;
            gap: 24px;
            padding: 64px 0;
        }

        li{
            width: calc(50% - 20px);
            height: 100%;

            @media (max-width: 767px){
                width: 100%;
            }

            .item{
                padding: 64px;
                background: var(--color-white);
                border-radius: 12px;
                min-height: 312px;

                @media (max-width: 991px){
                    padding: 32px;
                    min-height: unset;
                }
            }

            .desc{
                margin-top: 24px;
            }
        }
    }
}