:root {
  --color-primary: #214080;
  --color-secondary: #ec9231;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-blue: #26396a;
  --color-grey: #666666;
  --color-sub-title: #b2afab;

  --font-primary: "SF Pro Display";
}

body {
  font-family: var(--font-primary);
}

// font
.h0-f {
  font-size: 72px;
  line-height: 82px;
  font-weight: 900;
}
.h1-f {
  font-size: 64px;
  line-height: 72px;
  font-weight: normal;
}
.h2-f {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}
.h3-f {
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}

.b1-f {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.button-f {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
// color
.color-primary {
  color: var(--color-primary);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-text {
  color: var(--color-grey);
}
.color-heading {
  color: var(--color-text-blue);
}
// spacing
.gap-32 {
  gap: 32px;
}
.spacing {
  height: 80px;
}
