:root {
  --color-primary: #214080;
  --color-secondary: #ec9231;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-blue: #26396a;
  --color-grey: #666666;
  --color-sub-title: #b2afab;
  --color-tag: rgba(178, 175, 171, 0.6);
  --font-primary: "SF Pro Display";
}

body {
  font-family: var(--font-primary);
}

// font
.h1-font {
  font-size: 40px;
  line-height: 48px;
}
.h2-font {
  font-size: 32px;
  line-height: 38px;
}
.h3-font {
  font-size: 24px;
  line-height: 30px;
}
.h3-font {
  font-size: 24px;
  line-height: 30px;
}
.h4-font {
  font-size: 20px;
  line-height: 28px;
}

.b1-font {
  font-size: 16px;
  line-height: 24px;
}
.b2-font {
  font-size: 14px;
  line-height: 20px;
}
.button-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.tag-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-meidum {
  font-weight: 500;
}
// color
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-text {
  color: var(--color-grey);
}
.color-heading {
  color: var(--color-text-blue);
}
.color-sub-title {
  color: var(--color-sub-title);
}
// spacing
.gap-32 {
  gap: 32px;
}
.sub-title{
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
  padding-left: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: max-content;

  &::after{
    content: "";
    background-image: url('../images/icon-sub-heading.svg');
    width: 15px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.section-head{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: var(--color-text-blue);
}

.sub-title + .title{
  margin-top: 20px;
}

.title + .desc{
  margin-top: 24px;
}.spacing {
  height: 80px;
}
// typography
.text-uppcase {
  text-transform: uppercase !important;
}

.btn--custom{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-white);
  transition: all 0.4s ease;
  background-color: var(--color-primary);
  padding: 12px 24px;
  border-radius: 24px;

  &:hover{
    color: var(--color-white);
    background-color: var(--color-secondary);
  }

  &.btn--secondary{
    background-color: var(--color-secondary);
  
    &:hover{
      background-color: #389ECC;
    }
  }
}
