:root {
  --color-primary: #214080;
  --color-secondary:#EC9231;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-blue: #26396A;
  --color-grey: #666666;
  --color-sub-title: #B2AFAB;
  --font-primary: "SF Pro Display";
}

body {
  font-family: var(--font-primary);
}

.h1-font {
  font-size: 40px;
  line-height: 48px;
}

.h2-font {
  font-size: 32px;
  line-height: 38px;
}

.h3-font {
  font-size: 24px;
  line-height: 30px;
}

.h3-font {
  font-size: 24px;
  line-height: 30px;
}

.h4-font {
  font-size: 20px;
  line-height: 28px;
}

.b1-font {
  font-size: 16px;
  line-height: 24px;
}

.b2-font {
  font-size: 14px;
  line-height: 20px;
}

.button-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-meidum {
  font-weight: 500;
}

.color-primary {
  color: var(--color-primary);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-text {
  color: var(--color-grey);
}

.color-heading {
  color: var(--color-text-blue);
}

.gap-32 {
  gap: 32px;
}

.sub-title {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
  padding-left: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: max-content;
}
.sub-title::after {
  content: "";
  background-image: url("../images/icon-sub-heading.svg");
  width: 15px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section-head {
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: var(--color-text-blue);
}

.sub-title + .title {
  margin-top: 20px;
}

.title + .desc {
  margin-top: 24px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: rgba(248, 153, 33, 0.05);
  color: var(--color-grey);
}

.button-wrapper {
  display: inline-block;
  padding: 13px 36px;
  border-radius: 36px;
  position: relative;
  background: var(--color-white);
  animation: rotating 3s linear infinite;
  height: 52px;
  width: 170px;
  display: block;
}

.button-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-black);
  inset: 2px;
  border-radius: 36px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.button-wrapper a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.4s;
}

.button-wrapper:hover a {
  color: var(--color-primary);
}

.button-wrapper:hover::after {
  opacity: 0.5;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
.spacing-2xl {
  height: 140px;
}

.heading {
  max-width: 47%;
  margin: 0 auto;
}
.heading .desc {
  margin-top: 40px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header .header__container {
  padding: 26px 0;
}
#header .header__logo {
  display: block;
  width: auto;
  height: 52px;
}
#header .header__menu ul {
  display: flex;
  gap: 20px;
}
#header .header__menu ul a {
  color: var(--color-white);
  transition: all 0.4s ease;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
#header .header__menu ul a:hover {
  color: var(--color-secondary);
}
#header .header__menu ul li.active a {
  color: var(--color-secondary);
}

.banner-hero__container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner-hero__container video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}
.banner-hero__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}
.banner-hero__content h2 {
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
}
.banner-hero__content h2 span {
  color: var(--color-primary);
  font-weight: bold;
}

.about-home {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-home__wrapper {
  gap: 80px;
}
.about-home__wrapper .wrapper-img {
  height: 590px;
  border-radius: 24px;
  overflow: hidden;
  width: calc(50% + 40px);
}
.about-home__wrapper .wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about-home__wrapper .wrapper-content {
  width: calc(50% + 40px);
}
.about-home__wrapper .list-item {
  margin-top: 40px;
}
.about-home__wrapper .list-item li {
  gap: 12px;
}
.about-home__wrapper .list-item li:not(:first-child) {
  margin-top: 12px;
}
.about-home__wrapper .list-item .icon {
  min-width: 23px;
}
.about-home__wrapper .list-item .content-title {
  font-size: 18px;
  line-height: 26px;
}
.about-home__wrapper .list-item .content-desc {
  margin-top: 4px;
}

.service-home {
  padding: 0 20px;
}
.service-home__wrapper {
  padding: 120px 100px;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-white);
  position: relative;
}
.service-home__wrapper::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 60%;
  left: 0;
  background-image: url("../images/service-bg-circle.png");
  background-repeat: no-repeat;
}
.service-home .content-left {
  padding-right: 80px;
  position: sticky;
  top: 0;
  height: max-content;
}
.service-home .content-right .list-item {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.service-home .content-right .list-item .icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
}
.service-home .content-right .list-item .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-home .content-right .list-item .content {
  margin-left: 24px;
}
.service-home .content-right .list-item .content-desc {
  margin-top: 12px;
}

.featured-projects {
  padding: 120px 0;
}
.featured-projects .list-projects {
  margin-top: 60px;
}
.featured-projects .card {
  border: none;
  background-color: transparent;
}
.featured-projects .card-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-white);
  padding: 6px 12px;
  background-color: rgba(178, 175, 171, 0.6);
  border-radius: 24px;
}
.featured-projects .card-img {
  border-radius: 24px;
  overflow: hidden;
}
.featured-projects .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  transform: scale(1);
}
.featured-projects .card-content {
  margin-top: 24px;
}
.featured-projects .card-content a {
  transition: all 0.4s ease;
}
.featured-projects .card .desc {
  margin-top: 12px;
}
.featured-projects .card:hover img {
  transform: scale(1.05);
}
.featured-projects .card:hover .card-content a {
  color: var(--color-secondary);
}

/*# sourceMappingURL=style.css.map */
