@charset "UTF-8";
:root {
  --color-primary: #214080;
  --color-secondary: #ec9231;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-blue: #26396a;
  --color-grey: #666666;
  --color-sub-title: #b2afab;
  --color-tag: rgba(178, 175, 171, 0.6);
  --font-primary: "SF Pro Display";
}

body {
  font-family: var(--font-primary);
}

.h1-font {
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 767px) {
  .h1-font {
    font-size: 32px;
    line-height: 38px;
  }
}

.h2-font {
  font-size: 32px;
  line-height: 38px;
}

.h3-font {
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .h3-font {
    font-size: 20px;
    line-height: 28px;
  }
}

.h4-font {
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 767px) {
  .h4-font {
    font-size: 16px;
    line-height: 24px;
  }
}

.b1-font {
  font-size: 16px;
  line-height: 24px;
}

.b2-font {
  font-size: 14px;
  line-height: 20px;
}

.button-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.tag-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-meidum {
  font-weight: 500;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-text {
  color: var(--color-grey);
}

.color-heading {
  color: var(--color-text-blue);
}

.color-sub-title {
  color: var(--color-sub-title);
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.sub-title {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
  padding-left: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: max-content;
}
.sub-title::after {
  content: "";
  background-image: url("../images/icon-sub-heading.svg");
  width: 15px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section-head {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .section-head {
    max-width: 100%;
  }
}

.title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: var(--color-text-blue);
}
@media (max-width: 991px) {
  .title {
    font-size: 32px;
    line-height: 38px;
  }
}

.sub-title + .title {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .sub-title + .title {
    margin-top: 16px;
  }
}

.title + .desc {
  margin-top: 24px;
}

.spacing {
  height: 80px;
}

.text-uppcase {
  text-transform: uppercase !important;
}

.btn--custom {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-white);
  transition: all 0.4s ease;
  background-color: var(--color-primary);
  padding: 12px 24px;
  border-radius: 24px;
}
.btn--custom:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
.btn--custom.btn--secondary {
  background-color: var(--color-secondary);
}
.btn--custom.btn--secondary:hover {
  background-color: #389ecc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: rgba(248, 153, 33, 0.05);
  color: var(--color-grey);
}

.button-wrapper {
  display: inline-block;
  padding: 13px 36px;
  border-radius: 36px;
  position: relative;
  background: var(--color-white);
  animation: rotating 3s linear infinite;
  height: 52px;
  width: 170px;
  display: block;
}

.button-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-black);
  inset: 2px;
  border-radius: 36px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.button-wrapper a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.4s;
}

.button-wrapper:hover a {
  color: var(--color-primary);
}

.button-wrapper:hover::after {
  opacity: 0.5;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
.spacing-2xl {
  height: 140px;
}

.heading {
  max-width: 47%;
  margin: 0 auto;
}
.heading .desc {
  margin-top: 40px;
}

.spacing-80 {
  height: 80px;
}

.spacing-120 {
  height: 120px;
}
@media (max-width: 991px) {
  .spacing-120 {
    height: 64px;
  }
}

.spacing-240 {
  height: 240px;
}

.dropdown-custom {
  position: relative;
  cursor: default;
}
.dropdown-custom.has-hover:hover .ic path {
  fill: var(--color-black);
}
.dropdown-custom.has-hover:hover .dropdown-custom__text {
  color: var(--color-black);
}
.dropdown-custom__btn {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  cursor: pointer;
}
.dropdown-custom__btn path {
  transition: all 0.3s ease;
}
.dropdown-custom .dropdown-custom__text {
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
.dropdown-custom__menu {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 11;
  left: -15px;
  width: 100%;
  min-width: 115px;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
}
.dropdown-custom__menu .dropdown-custom__item {
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
.dropdown-custom__menu .dropdown-custom__item:hover {
  color: var(--color-secondary) !important;
  background-color: var(--color-gary-opa);
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

button.btn-toggle {
  cursor: pointer;
  padding: 0;
  border: none;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  box-shadow: unset !important;
}
button.btn-toggle .line {
  width: 22px;
  height: 2px;
  background-color: var(--color-white);
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button.btn-toggle.is-active .line:nth-child(2) {
  opacity: 0;
}
button.btn-toggle.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
button.btn-toggle.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.4s ease;
}
#header .logo-black {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}
#header.bg-white + .blank-spacing {
  height: 100px;
}
#header.header--scroll {
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px 0px rgba(189, 189, 189, 0.1019607843);
}
#header.header--scroll .logo-white {
  opacity: 0;
  visibility: hidden;
}
#header.header--scroll .logo-black {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
#header.header--scroll .header__menu a {
  color: var(--color-primary);
}
#header.header--scroll .dropdown-custom__text {
  color: var(--color-primary);
}
#header.header--scroll .dropdown-custom__btn svg path {
  fill: var(--color-primary);
}
#header.header--scroll .navbar-toggler .line {
  background-color: var(--color-primary);
}
#header .header__btn-language {
  margin-left: 20px;
}
@media (max-width: 991px) {
  #header .header__btn-language {
    margin-left: 0;
  }
}
#header .header__container {
  padding: 26px 120px;
  position: relative;
}
@media (max-width: 1200px) {
  #header .header__container {
    padding: 24px;
  }
}
#header .header__container .navbar-toggler {
  display: none;
}
@media (max-width: 991px) {
  #header .header__container .navbar-toggler {
    display: block;
  }
}
#header .header__logo {
  display: block;
  height: auto;
  width: 245px;
  position: relative;
}
#header .header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  #header .header__logo {
    width: 196px;
  }
}
@media (max-width: 991px) {
  #header .header__menu {
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    right: 0;
    height: 100vh !important;
    padding: 24px;
    gap: 20px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    z-index: 2;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
}
#header .header__menu .dropdown-custom__btn {
  margin-bottom: 1px;
}
#header .header__menu .navbar-toggler {
  display: none;
  position: absolute;
  top: 32px;
  transform: none;
  right: 24px;
}
@media (max-width: 991px) {
  #header .header__menu .navbar-toggler {
    display: block;
  }
}
#header .header__menu .navbar-toggler .line {
  background-color: var(--color-primary);
}
@media (max-width: 991px) {
  #header .header__menu .dropdown-custom .dropdown-custom__text {
    color: var(--color-primary);
  }
  #header .header__menu .dropdown-custom__btn path {
    fill: var(--color-primary);
  }
  #header .header__menu .dropdown-custom__menu {
    box-shadow: unset;
  }
}
#header .header__menu.show {
  transform: translateX(0);
}
#header .header__menu .header__logo {
  display: none;
}
@media (max-width: 991px) {
  #header .header__menu .header__logo {
    display: block;
  }
}
#header .header__menu .header__logo .logo-black {
  opacity: 1;
  visibility: visible;
  position: unset;
}
#header .header__menu ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  #header .header__menu ul {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-top: 20px;
  }
}
#header .header__menu ul a {
  color: var(--color-white);
  transition: all 0.4s ease;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
@media (max-width: 991px) {
  #header .header__menu ul a {
    color: var(--color-primary);
  }
}
#header .header__menu ul a:hover {
  color: var(--color-secondary);
}
#header .header__menu ul li.active a {
  color: var(--color-secondary);
}
#header .header__backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
#header .header__backdrop.open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

footer .footer-top {
  padding: 80px 100px;
  margin: 0 20px;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-primary);
}
@media (max-width: 991px) {
  footer .footer-top {
    padding: 40px 24px;
  }
}
footer .footer-company {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-primary);
  padding: 22px 0;
  display: flex;
  align-items: center;
  gap: 7px;
}
@media (max-width: 991px) {
  footer .footer-company {
    padding-top: 5px;
  }
}
@media (max-width: 450px) {
  footer .footer-company {
    flex-wrap: wrap;
    gap: 0px;
  }
  footer .footer-company span {
    margin-left: 10px;
  }
}
footer .footer-company p {
  white-space: nowrap;
}
footer .footer-company a {
  color: var(--color-primary);
  transition: all 0.4s ease;
  white-space: nowrap;
}
footer .footer-company a:hover {
  color: var(--color-secondary);
}
footer .footer-policy {
  gap: 32px;
}
footer .footer-policy a {
  color: var(--color-primary);
  transition: all 0.4s ease;
}
footer .footer-policy a:hover {
  color: var(--color-secondary);
}
footer .footer-social {
  margin-top: 40px;
  gap: 24px;
}
@media (max-width: 991px) {
  footer .footer-social {
    margin-top: 24px;
  }
}
footer .footer-social li a {
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(182, 182, 182, 0.1882352941);
  width: 48px;
  height: 48px;
  transition: all 0.4s ease;
}
footer .footer-social li a path {
  transition: all 0.4s ease;
}
footer .footer-social li a:hover {
  background-color: var(--color-white);
}
footer .footer-social li a:hover path {
  fill: var(--color-secondary);
}
@media (max-width: 991px) {
  footer .footer-contact {
    margin-top: 24px;
  }
}
footer .footer-contact .content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 68%;
}
@media (max-width: 991px) {
  footer .footer-contact .content {
    max-width: 100%;
  }
}
footer .footer-contact a {
  color: var(--color-white);
  transition: all 0.4s ease;
  margin-bottom: 8px;
}
footer .footer-contact a:hover {
  color: var(--color-secondary);
}
footer .footer-contact p {
  color: var(--color-white);
}
@media (max-width: 991px) {
  footer .footer-consult {
    margin-top: 24px;
  }
  footer .footer-consult .name {
    margin-bottom: 10px;
  }
}
footer .footer-consult form {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 400px) {
  footer .footer-consult form {
    flex-direction: column;
    align-items: flex-end !important;
  }
}
footer .footer-consult form input {
  height: 48px;
  width: 100%;
  color: var(--color-white);
  border: none;
  outline: none;
  box-shadow: unset;
  border-bottom: 1px solid var(--color-white);
  border-radius: 0;
}
footer .footer-consult form input::placeholder {
  color: var(--color-white);
}
footer .footer-consult form button {
  min-width: 110px;
}
footer .footer-bottom__container {
  padding: 0 120px;
}
@media (max-width: 991px) {
  footer .footer-bottom__container {
    padding: 0 24px;
  }
}
@media (max-width: 991px) {
  footer .footer-bottom__container .copyright {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin-top: 24px;
  }
}
footer .name {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  footer .name {
    font-size: 20px;
    line-height: 28px;
  }
}

.banner-hero__container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .banner-hero__container {
    height: 60vh;
  }
}
.banner-hero__container .swiper-banner {
  width: 100%;
  height: 100%;
}
.banner-hero__container .swiper-banner .swiper-slide {
  overflow: hidden;
}
.banner-hero__container .swiper-banner .slide-banner {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-hero__container .swiper-banner .slide-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-hero__container video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}
.banner-hero__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}
.banner-hero__content h2 {
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
}
.banner-hero__content h2 span {
  color: var(--color-primary);
  font-weight: bold;
}

.about-home {
  padding-top: 120px;
}
@media (max-width: 991px) {
  .about-home {
    padding-top: 64px;
  }
}
.about-home__wrapper {
  gap: 80px;
}
@media (max-width: 991px) {
  .about-home__wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .about-home__wrapper {
    gap: 40px;
  }
}
.about-home__wrapper .title {
  max-width: 85%;
}
@media (max-width: 991px) {
  .about-home__wrapper .title {
    max-width: 100%;
  }
}
.about-home__wrapper .wrapper-img {
  max-height: 590px;
  border-radius: 24px;
  overflow: hidden;
  width: calc(50% + 40px);
}
@media (max-width: 991px) {
  .about-home__wrapper .wrapper-img {
    width: 100%;
  }
}
.about-home__wrapper .wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about-home__wrapper .wrapper-content {
  width: calc(50% + 40px);
}
@media (max-width: 991px) {
  .about-home__wrapper .wrapper-content {
    width: 100%;
  }
}
.about-home__wrapper .list-item {
  margin-top: 40px;
  max-width: 70%;
}
@media (max-width: 991px) {
  .about-home__wrapper .list-item {
    max-width: 100%;
  }
}
.about-home__wrapper .list-item li {
  gap: 12px;
}
.about-home__wrapper .list-item li:not(:first-child) {
  margin-top: 12px;
}
.about-home__wrapper .list-item .icon {
  min-width: 23px;
}
.about-home__wrapper .list-item .content-title {
  font-size: 18px;
  line-height: 26px;
}
.about-home__wrapper .list-item .content-desc {
  margin-top: 4px;
}

.service-home {
  border-radius: 24px;
  margin: 0 20px;
  padding: 120px 0;
  background-color: var(--color-white);
  position: relative;
}
@media (max-width: 992px) {
  .service-home {
    padding: 24px 0;
  }
}
.service-home::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/service-bg-circle-fill.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}
.service-home .content-left {
  padding-right: 80px;
  top: 140px;
  position: sticky;
  height: max-content;
}
@media (max-width: 992px) {
  .service-home .content-left {
    padding-right: 0;
    position: unset;
  }
}
@media (max-width: 992px) {
  .service-home .content-right {
    margin-top: 40px;
  }
}
.service-home .content-right .list-item {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 992px) {
  .service-home .content-right .list-item {
    gap: 24px;
  }
}
.service-home .content-right .list-item .icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
}
@media (max-width: 992px) {
  .service-home .content-right .list-item .icon {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
}
.service-home .content-right .list-item .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-home .content-right .list-item .content {
  margin-left: 24px;
}
.service-home .content-right .list-item .content-desc {
  margin-top: 12px;
}

.featured-projects {
  padding: 120px 0;
}
@media (max-width: 991px) {
  .featured-projects {
    padding: 64px 0;
  }
}
.featured-projects .list-projects {
  margin-top: 60px;
}
@media (max-width: 991px) {
  .featured-projects .list-projects {
    margin-top: 32px;
    row-gap: 32px;
  }
}
.featured-projects .card {
  border: none;
  background-color: transparent;
}
.featured-projects .card-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-white);
  padding: 6px 12px;
  background-color: rgba(178, 175, 171, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(4px);
  z-index: 2;
}
.featured-projects .card-image {
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 373/496;
  position: relative;
}
.featured-projects .card-image a {
  position: absolute;
  inset: 0;
}
.featured-projects .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  transform: scale(1);
}
.featured-projects .card-content {
  margin-top: 24px;
}
.featured-projects .card-content a {
  transition: all 0.4s ease;
}
.featured-projects .card .desc {
  margin-top: 12px;
}
.featured-projects .card:hover img {
  transform: scale(1.05);
}
.featured-projects .card:hover .card-content a {
  color: var(--color-secondary);
}

.blogs-list {
  padding: 0 120px;
}
@media (max-width: 991px) {
  .blogs-list {
    padding: 0px;
  }
}
.blogs-list__top {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .blogs-list__top h2 {
    padding: 0 24px;
  }
}
.blogs-list__sub {
  gap: 8px;
  margin-bottom: 12px;
  text-align: center;
}
.blogs-list__filter {
  margin-bottom: 60px;
}
.blogs-list__button {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 991px) {
  .blogs-list__button {
    overflow-x: scroll;
    padding-left: 24px;
    padding-right: 24px;
  }
  .blogs-list__button::-webkit-scrollbar {
    display: none;
  }
}
.blogs-list__button .filter-button {
  padding: 12px 24px;
  border-radius: 24px;
  color: var(--color-primary);
  border: 1px solid #d4d3d8;
  transition: all 0.4s;
}
@media (max-width: 991px) {
  .blogs-list__button .filter-button {
    width: max-content;
    white-space: nowrap;
  }
}
.blogs-list__button .filter-button.active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.blogs-list__button .filter-button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
.blogs-list__result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .blogs-list__result {
    grid-template-columns: 1fr;
    padding: 0 24px;
    gap: 48px;
  }
}
.blogs-list__item:hover .blogs-list__img img {
  transform: scale(1.05);
}
.blogs-list__img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 375/270;
  overflow: hidden;
  margin-bottom: 24px;
}
.blogs-list__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}
.blogs-list__box {
  position: relative;
}
.blogs-list__box:hover .blogs-list__content .name {
  color: var(--color-secondary);
}
.blogs-list__tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 24px;
  padding: 6px 12px;
  background-color: var(--color-tag);
  z-index: 3;
}
.blogs-list__content .name {
  margin-bottom: 12px;
  transition: all 0.3s;
}

.section-cta .wrapper-content {
  padding: 60px;
  padding-bottom: 40px;
  background-image: url("../images/img-section-cta.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 24px;
}
@media (max-width: 767px) {
  .section-cta .wrapper-content {
    padding: 40px 24px 80px;
    background-image: url("../images/img-section-cta-mobile.png");
  }
}
.section-cta .content {
  max-width: 55%;
}
@media (max-width: 991px) {
  .section-cta .content {
    max-width: 80%;
  }
}
.section-cta .content .desc {
  margin-top: 12px;
}
.section-cta .content .btn--custom {
  margin-top: 40px;
}

.customer-story {
  padding-top: 120px;
}
@media (max-width: 991px) {
  .customer-story {
    padding-top: 64px;
  }
}
.customer-story .list-story {
  margin-top: 60px;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .customer-story .list-story {
    row-gap: 24px;
    margin-top: 32px;
  }
}
.customer-story .list-story .box {
  padding: 40px;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-white);
}
@media (max-width: 767px) {
  .customer-story .list-story .box {
    padding: 24px;
  }
}
.customer-story .list-story .box-head {
  display: flex;
  align-items: center;
}
.customer-story .list-story .box-head .avt {
  width: 64px;
  height: 64px;
  min-width: 64px;
}
@media (max-width: 767px) {
  .customer-story .list-story .box-head .avt {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
}
.customer-story .list-story .box-head .name {
  font-size: 24px;
  line-height: 32px;
  margin-left: 24px;
}
@media (max-width: 767px) {
  .customer-story .list-story .box-head .name {
    font-size: 20px;
    line-height: 28px;
  }
}
.customer-story .list-story .box-desc {
  margin-top: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.section-news {
  padding: 120px 0;
}
@media (max-width: 991px) {
  .section-news {
    padding: 64px 0;
  }
}
.section-news .content-left {
  position: sticky;
  top: 140px;
  height: max-content;
}
@media (max-width: 991px) {
  .section-news .content-left {
    position: unset;
    margin-bottom: 32px;
  }
}
.section-news .content-left .btn--custom {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .section-news .content-left .btn--custom {
    margin-top: 32px;
  }
}
.section-news .list-news .item {
  position: relative;
}
@media (max-width: 767px) {
  .section-news .list-news .item {
    flex-direction: column;
  }
}
.section-news .list-news .item-image {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 280/201;
}
.section-news .list-news .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  transform: scale(1);
}
.section-news .list-news .item-image a {
  position: absolute;
  inset: 0;
}
.section-news .list-news .item-tag {
  padding: 6px 12px;
  width: max-content;
  max-width: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
  backdrop-filter: blur(4px);
  background-color: rgba(178, 175, 171, 0.6);
  z-index: 2;
  border-radius: 24px;
  overflow: hidden;
}
.section-news .list-news .item-content {
  margin-left: 24px;
}
@media (max-width: 767px) {
  .section-news .list-news .item-content {
    margin-left: 0;
    margin-top: 24px;
  }
}
.section-news .list-news .item-content .name {
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  .section-news .list-news .item-content .date {
    margin-top: 5px;
  }
}
.section-news .list-news .item:hover img {
  transform: scale(1.05);
}
.section-news .list-news .item:hover .name {
  color: var(--color-secondary);
}
.section-news .list-news .item:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #DFE1DE;
}
@media (max-width: 767px) {
  .section-news .list-news .item:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

.contact-form {
  padding: 80px 0;
}
.contact-form__left {
  padding: 0 60px;
}
.contact-form__left .info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-form__left .info .mail {
  gap: 10px;
}
.contact-form__left .info a {
  color: #505050;
  transition: all 0.4s ease;
}
.contact-form__left .info a:hover {
  color: var(--color-secondary);
}
.contact-form__left .info .address {
  color: #505050;
}
.contact-form__right {
  padding: 0 60px;
}
.contact-form__right form {
  padding: 32px;
  border-radius: 8px;
  background-color: var(--color-white);
}
.contact-form__right form .field {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-form__right form .field label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #111;
}
.contact-form__right form .field input,
.contact-form__right form .field textarea {
  background: rgba(180, 180, 180, 0.0901960784);
  border: 1px solid rgba(180, 180, 180, 0.3803921569);
  height: 49px;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}
.contact-form__right form .field input::placeholder,
.contact-form__right form .field textarea::placeholder {
  color: var(--color-grey);
}
.contact-form__right form .field textarea {
  height: 80px;
}
.contact-form__right form button {
  margin-top: 24px;
}

section.img-with-text {
  position: relative;
}
section.img-with-text .content {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
section.img-with-text .desc {
  margin-top: 24px;
}
section.img-with-text img {
  width: 100%;
  aspect-ratio: 1440/635;
  max-height: 635px;
  object-position: center;
  object-fit: cover;
}

.section-faqs {
  padding: 120px 0;
}
.section-faqs .content-left {
  padding-right: 80px;
  height: max-content;
  position: sticky;
  top: 140px;
}
.section-faqs .content-right .accordion-button {
  box-shadow: none;
  padding: 24px;
  padding-right: 60px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-primary);
  border: none;
  box-shadow: unset;
  background-color: transparent;
  position: relative;
}
.section-faqs .content-right .accordion-button[aria-expanded=true] {
  color: var(--color-white);
}
.section-faqs .content-right .accordion-button[aria-expanded=true]::before {
  content: "";
}
.section-faqs .content-right .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg%20width%3d%2224%22%20height%3d%2224%22%20viewBox%3d%220%200%2024%2024%22%20fill%3d%22none%22%20xmlns%3d%22http%3a%2f%2fwww.w3.org%2f2000%2fsvg%22%3e%3cpath%20d%3d%22M7.05017%207.05123L16.9497%2016.9507M7.05017%2016.9507L16.9497%207.05123%22%20stroke%3d%22white%22%20stroke-width%3d%222%22%20stroke-linecap%3d%22round%22%2f%3e%3c/svg%3e");
}
.section-faqs .content-right .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg%20width%3d%2224%22%20height%3d%2224%22%20viewBox%3d%220%200%2024%2024%22%20fill%3d%22none%22%20xmlns%3d%22http%3a%2f%2fwww.w3.org%2f2000%2fsvg%22%3e%3cpath%20d%3d%22M12%2019V5M19%2012H5%22%20stroke%3d%22%23EC9231%22%20stroke-width%3d%222%22%20stroke-linecap%3d%22round%22%2f%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.section-faqs .content-right .accordion-button::before {
  content: unset;
  width: calc(100% - 48px);
  left: 24px;
  border: 1px solid rgba(189, 189, 189, 0.3019607843);
  position: absolute;
  bottom: 12px;
  transition: all 0.3s ease;
}
.section-faqs .content-right .accordion-item {
  border: 1px solid rgba(189, 189, 189, 0.6);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.section-faqs .content-right .accordion-item:hover {
  border-color: #BDBDBD;
}
.section-faqs .content-right .accordion-item:has([aria-expanded=true]) {
  transition: all 0.7s ease;
  background: linear-gradient(85.84deg, #214080 1.37%, #6580B6 97.42%, #214080 153.08%);
}
.section-faqs .content-right .accordion-item:not(:last-child) {
  margin-bottom: 32px;
}
.section-faqs .content-right .accordion-body {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
  padding: 24px;
  padding-top: 0;
  position: relative;
}

.section-vission {
  background-image: url("../images/banner.png");
}
.section-vission .list-item {
  gap: 40px;
  padding: 120px 0;
  transform: translateY(50%);
}
.section-vission .list-item li {
  width: calc(50% - 20px);
}
.section-vission .list-item li .item {
  padding: 64px;
  background: var(--color-white);
  border-radius: 12px;
}
.section-vission .list-item li .desc {
  margin-top: 24px;
}

.core-value .section-content {
  display: flex;
  gap: 80px; /* Khoảng cách giữa hình ảnh và nội dung */
  margin-top: 80px;
}
.core-value .section-content .wrapper-img {
  width: calc(50% - 40px);
  height: 420px;
  border-radius: 24px;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.core-value .section-content .wrapper-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.core-value .section-content .wrapper-img img.active {
  opacity: 1;
}
.core-value .section-content .wrapper-item {
  width: calc(50% - 40px);
  overflow: hidden;
  position: relative;
}
.core-value .section-content .wrapper-item::after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #FEF9F3, rgba(255, 255, 255, 0));
}
.core-value .section-content .wrapper-item .item {
  height: 420px;
  width: 100%;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FEF9F3;
  padding-top: 24px;
  border-top: 1px solid #BDBDBD;
}
.core-value .section-content .wrapper-item .item::after {
  content: attr(data-number);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 0;
}
.core-value .section-content .wrapper-item .item.active {
  opacity: 1;
  transform: translateY(0);
}
.core-value .section-content .wrapper-item .item-desc {
  margin-top: 12px;
}

.page-blogs-detail .banner-hero__container {
  height: 60vh;
}
.page-blogs-detail .blogs-detail-content {
  padding: 0 120px;
  padding-top: 60px;
}
@media (max-width: 991px) {
  .page-blogs-detail .blogs-detail-content {
    padding: 0 24px;
    padding-top: 60px;
  }
}
.page-blogs-detail .the-content-top {
  margin-bottom: 24px;
}
.page-blogs-detail h2 {
  margin-bottom: 24px;
}
.page-blogs-detail figure {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-blogs-detail h4 {
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 12px;
}
.page-blogs-detail p {
  margin-bottom: 40px;
}
.page-blogs-detail p:last-child {
  margin-bottom: 0;
}
.page-blogs-detail h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.page-blogs-detail .blogs-list__result {
  margin-bottom: 0;
}

.service__image {
  width: 100%;
  aspect-ratio: 600/337;
  border-radius: 20px;
  overflow: hidden;
}
.service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service__content {
  padding-left: 80px;
}
@media (max-width: 991px) {
  .service__content {
    padding-left: 0;
    padding-right: 24px;
    padding-top: 40px;
  }
}
.service__content--top .icon {
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .service__content--top h3 {
    margin-bottom: 24px;
  }
}
.service__item {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #bdbdbd;
}
@media (max-width: 991px) {
  .service__item {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.service__item:nth-child(2) {
  padding-top: 0;
}
.service .blogs-list__top {
  margin-bottom: 60px;
}

.gallery-sec {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-secondary);
  background-image: url("../images/service-bg-circle.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .gallery-sec {
    height: 125vh;
  }
}
.gallery-sec__content {
  padding-left: 120px;
  max-width: 550px;
}
@media (max-width: 991px) {
  .gallery-sec__content {
    padding-left: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gallery-sec__content h1 {
  margin-bottom: 40px;
}
.gallery-sec__content a:hover {
  background-color: #389ecc;
}
.gallery-sec .gallery {
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 24px;
  justify-content: end;
  padding-right: 24px;
  position: relative;
}
@media (max-width: 991px) {
  .gallery-sec .gallery {
    padding-left: 24px;
    overflow: hidden;
  }
}
.gallery-sec .gallery::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(351.25deg, rgba(236, 146, 49, 0.95) 12.14%, rgba(236, 146, 49, 0) 55.28%);
  z-index: 2;
}
.gallery-sec .gallery-col {
  width: 300px;
}
@media (max-width: 767px) {
  .gallery-sec .gallery-col {
    width: calc((100% - 24px) / 2);
  }
}
.gallery-sec .gallery-col .img {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .gallery-sec .gallery-col .img {
    width: 100%;
  }
}
.gallery-sec .gallery-col .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-sec .swiper-container {
  width: 100%;
  height: 100%;
}
.gallery-sec .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.gallery-sec .swiper {
  width: 300px;
  height: 100vh;
  margin: 0;
}
.gallery-sec .swiper-slide {
  height: 300px;
}

.count-number__wrapper {
  padding: 40px 57px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color-white);
}
.count-number .number-item .number {
  text-align: center;
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
  color: var(--color-secondary);
  height: 76px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.count-number .number-item .number > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 2s ease;
  transform: translateY(0);
  line-height: 1;
}
.count-number .number-item .number > span span {
  flex: 0 0 100%;
  height: 100%;
}
.count-number .number-item .number:nth-child(1) > span {
  transition-delay: 0s;
}
.count-number .number-item .number:nth-child(2) > span {
  transition-delay: 0.2s;
}
.count-number .number-item .number:nth-child(3) > span {
  transition-delay: 0.4s;
}
.count-number .number-item .number:nth-child(4) > span {
  transition-delay: 0.6s;
}
.count-number .number-item .text {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-primary);
}

/*# sourceMappingURL=style.css.map */
