:root {
  --color-primary: #214080;
  --color-secondary: #ec9231;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-blue: #26396a;
  --color-grey: #666666;
  --color-sub-title: #b2afab;
  --color-tag: rgba(178, 175, 171, 0.6);
  --font-primary: "SF Pro Display";
}

body {
  font-family: var(--font-primary);
}

.h1-font {
  font-size: 40px;
  line-height: 48px;
}

.h2-font {
  font-size: 32px;
  line-height: 38px;
}

.h3-font {
  font-size: 24px;
  line-height: 30px;
}

.h3-font {
  font-size: 24px;
  line-height: 30px;
}

.h4-font {
  font-size: 20px;
  line-height: 28px;
}

.b1-font {
  font-size: 16px;
  line-height: 24px;
}

.b2-font {
  font-size: 14px;
  line-height: 20px;
}

.button-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.tag-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-meidum {
  font-weight: 500;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-text {
  color: var(--color-grey);
}

.color-heading {
  color: var(--color-text-blue);
}

.color-sub-title {
  color: var(--color-sub-title);
}

.gap-32 {
  gap: 32px;
}

.spacing {
  height: 80px;
}

.text-uppcase {
  text-transform: uppercase !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--color-white);
  color: var(--color-grey);
}

.button-wrapper {
  display: inline-block;
  padding: 13px 36px;
  border-radius: 36px;
  position: relative;
  background: var(--color-white);
  animation: rotating 3s linear infinite;
  height: 52px;
  width: 170px;
  display: block;
}

.button-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-black);
  inset: 2px;
  border-radius: 36px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.button-wrapper a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.4s;
}

.button-wrapper:hover a {
  color: var(--color-primary);
}

.button-wrapper:hover::after {
  opacity: 0.5;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
.spacing-2xl {
  height: 140px;
}

.heading {
  max-width: 47%;
  margin: 0 auto;
}
.heading .desc {
  margin-top: 40px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header .header__container {
  padding: 26px 0;
}
#header .header__logo {
  display: block;
  width: auto;
  height: 52px;
}
#header .header__menu ul {
  display: flex;
  gap: 20px;
}
#header .header__menu ul a {
  color: var(--color-white);
  transition: all 0.4s ease;
}
#header .header__menu ul a:hover {
  color: var(--color-secondary);
}
#header .header__menu ul li.active a {
  color: var(--color-secondary);
}

.banner-hero__container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner-hero__container video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}
.banner-hero__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}
.banner-hero__content h2 {
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
}
.banner-hero__content h2 span {
  color: var(--color-primary);
  font-weight: bold;
}

.blogs-list {
  padding: 0 120px;
}
.blogs-list__top {
  text-align: center;
  margin-bottom: 40px;
}
.blogs-list__sub {
  gap: 8px;
  margin-bottom: 12px;
  text-align: center;
}
.blogs-list__filter {
  margin-bottom: 60px;
}
.blogs-list__button {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blogs-list__button .filter-button {
  padding: 12px 24px;
  border-radius: 24px;
  color: var(--color-primary);
  border: 1px solid #d4d3d8;
  transition: all 0.4s;
}
.blogs-list__button .filter-button.active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.blogs-list__button .filter-button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
.blogs-list__result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  margin-bottom: 60px;
}
.blogs-list__item:hover .blogs-list__img img {
  transform: scale(1.05);
}
.blogs-list__img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 375/270;
  overflow: hidden;
  margin-bottom: 24px;
}
.blogs-list__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}
.blogs-list__box {
  position: relative;
}
.blogs-list__tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 24px;
  padding: 6px 12px;
  background-color: var(--color-tag);
  z-index: 3;
}
.blogs-list__content .name {
  margin-bottom: 12px;
}

/*# sourceMappingURL=style.css.map */
